
.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s ease forwards;
  z-index: 9999;
}


.edit-card {
  width: 420px;
  padding: 28px;
  
  background: rgba(255,255,255,0.07);
  border-radius: 22px;
  backdrop-filter: blur(25px);

  box-shadow: 0 25px 55px rgba(0,0,0,0.55);
  color: var(--text);
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 14px;

  animation: zoomIn 0.23s ease forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-header h2 {
  font-size: 22px;
  font-weight: 800;
}

.close-btn {
  background: rgba(255,255,255,0.15);
  border: none;
  color: var(--text);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.close-btn:hover {
  background: rgba(255,255,255,0.25);
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: var(--text);
  outline: none;
  resize: none;
  transition: 0.25s;
}

input:focus,
select:focus,
textarea:focus {
  background: rgba(255,255,255,0.18);
}

.save-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #7b5cff;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.save-btn:hover {
  background: #6b4ee0;
}
