.history-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #0b0b12;
  color: white;
}

.history-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;

  font-family: "Inter", sans-serif;
}

.history-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 35px;
  border-radius: 22px;
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}

.filters-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.filters-grid input,
.filters-grid select {
  padding: 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  outline: none;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th {
  background: rgba(255, 255, 255, 0.1);
  padding: 14px;
  text-align: left;
}

.history-table td {
  padding: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.green {
  color: #4dff4d;
  font-weight: 700;
}

.red {
  color: #ff4d4d;
  font-weight: 700;
}

.empty {
  text-align: center;
  padding: 20px;
  color: #aaa;
}

@media (max-width: 1000px) {
  .filters-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .filters-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
