:root {
  --bg: #0b0b12;
  --card: #161622;
  --text: #ffffff;
  --shadow: 0 0 20px rgba(0,0,0,0.4);
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.page-content {
  flex: 1;
  padding: 30px;
  margin-left: 230px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important; 
}
